body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    background-color: #f8f8f8;
    padding: 1em;
    margin: 1em 0px;
    border: 1px solid #ccc;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input{
    width: 20em;
}

.lembrar input{
    width: 1em;
}