<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout fixo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="principal">
        <div id="cabecalho">
            LOGO
        </div>

        <div id="menu">
            <ul id="menuul">
                <li class="home"><a href="index.html" >Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="servicos.html">Servicos</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </div>

        <div id="conteudo">
            <div class="conteudodiv">
                <h1>Conteudo</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, a optio delectus quibusdam ut corrupti saepe natus, quis reiciendis error magni laborum labore perspiciatis dolorum repudiandae cupiditate veniam inventore esse?</p>
             </div>
            <div class="conteudodiv">
                <h1>Conteudo 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, a optio delectus quibusdam ut corrupti saepe natus, quis reiciendis error magni laborum labore perspiciatis dolorum repudiandae cupiditate veniam inventore esse?</p>
            </div>
        </div>

        <div class="conteudo-lateral">
            <h2>Contuedo<br>Lateral</h2>
        </div>

        <div id="rodape" class="clear">
            <h4>Todos os direitos reservados</h4>
        </div>
    </div>
</body>
</html>