<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas estilizadas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
        </tr>
        <tr class="hover">
            <td>Lucas</td>
            <td>21</td>
            <td>Masculino</td>
        </tr>
        <tr class="hover">
            <td>Leoncio</td>
            <td>41</td>
            <td>Masculino</td>
        </tr>
        <tr class="hover">
            <td>Lara</td>
            <td>19</td>
            <td>Feminino</td>
        </tr>
        <tr class="hover">
            <td>Kifflow</td>
            <td>37</td>
            <td>Masculino</td>
        </tr>
    </table>
</body>
</html>